* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Space Grotesk", sans-serif;
    background-color: #151515;
    color: white;
    text-align: center;
}

.header,
.container-footer {
    padding: 20px;
    font-size: 20px;
    font-weight: 500;

    & section {
        padding-top: 20px;

        & a {
            text-decoration: none;
        }

        & img {
            width: 20px;
            padding: 0 10px;
        }
    }
}

.introduction {
    padding: 20px 20px 40px;

    & img {
        padding-bottom: 20px;
        width: 50%;
        filter: grayscale();
    }

    & p {
        text-align: center;
        padding-top: 20px;
        font-weight: 300;
    }

    & span {
        text-decoration: underline;
        text-decoration-color: rgb(0, 128, 85);
        text-decoration-thickness: 3px;
    }
}

.btn-contact {
    margin-top: 30px;
    padding: 10px;
    border: none;
    background-color: transparent;
    color: white;
    border-bottom: 2px solid rgb(0, 128, 85);
    letter-spacing: 3px;
    transition: background 0.3s;
}

.btn-contact:hover {
    background-color: rgb(0, 128, 85);
    cursor: pointer;
}

hr {
    width: 90%;
    opacity: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.skills {
    padding: 20px;

    & article {
        padding: 25px;

        & h3 {
            font-size: 22px;
            padding-bottom: 5px;
        }

        & p {
            font-weight: 200;
        }
    }
}

.projects {
    padding: 20px;
    text-align: left;

    & .projects-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;

        & h2 {
            font-size: 30px;
        }

        & .btn-contact {
            margin: 0px;
        }
    }

    & .project {
        margin-bottom: 30px;

        & a {
            text-decoration: none;
        }

        & img {
            width: 100%;
        }

        & p {
            font-weight: 100;
        }

        & .btn-contact {
            margin: 10px 20px 0 0;
        }
    }
}

.contact {
    padding: 40px 20px 20px;
    background-color: #242424;

    & h2 {
        font-size: 30px;
        padding-bottom: 10px;
    }

    & p {
        padding-bottom: 30px;
    }

    & .form {
        & input,
        & textarea {
            display: block;
            width: 100%;
            padding: 10px 0;
            color: white;
            background-color: transparent;
            margin: 20px 0;
            font-size: 14px;
            border: none;
            border-bottom: 2px solid rgb(163, 163, 163);
            transition: border-bottom 0.3s;
        }

        & textarea {
            height: 80px;
        }

        & input:focus,
        & textarea:focus {
            outline: none;
            border-bottom-color: rgb(0, 128, 85);
        }

        & .btn-contact {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 80px;
        }
    }
}

.footer {
    background-color: #242424;
}

@media screen and (min-width: 768px) {
    .header,
    .container-footer {
        display: flex;
        justify-content: space-between;

        & section {
            padding-top: 0px;
        }
    }

    .introduction {
        text-align: left;

        & img {
            max-width: 310px;
            width: 40%;
            position: absolute;
            right: 0px;
            top: 0px;
            z-index: -1;
        }

        & div {
            width: 65%;
            height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & h1 {
                font-size: 40px;
            }
        }
    }

    .skills {
        columns: 2;
    }

    .projects {
        & .projects-title {
            & h2 {
                font-size: 40px;
            }
        }

        & .container-projects {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            grid-gap: 20px;
        }
    }

    .contact {
        & .container-contact {
            max-width: 400px;
            margin: auto;
        }

        & h2 {
            font-size: 40px;
        }
    }
}

@media screen and (min-width: 1024px) {
    hr {
        width: 80%;
    }

    .header,
    .container-footer,
    .introduction,
    .skills,
    .projects,
    .container-contact {
        width: 80%;
        margin: auto;
    }

    .introduction {
        & img {
            right: 10%;
            max-width: 400px;
        }

        & div {
            height: 500px;

            & h1 {
                font-size: 50px;
            }
        }

        & p {
            text-align: left;
        }
    }

    .skills {
        columns: 3;
    }

    .projects {
        & .container-projects {
            grid-template-columns: 1fr 1fr;
        }
    }

    .contact {
        & .container-contact {
            max-width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 25%;

            & div {
                text-align: left;

                & h2 {
                    font-size: 50px;
                }
            }

            & .form {
                & input,
                & textarea {
                    margin: 0px 0px 20px;
                }
            }
        }
    }
}